In [13]:
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
import math

import xgboost as xgb

from sklearn.cross_validation import cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.grid_search import GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from tqdm import tqdm,tqdm_pandas
tqdm.pandas(tqdm, mininterval=10)

#Disable pandas warnings
pd.options.mode.chained_assignment = None

In [14]:
train=pd.read_csv('/Users/adityavyas/Desktop/Machine_Learning_and_Data_Science/Datasets/All_State_Purchase/train.csv')
test=pd.read_csv('/Users/adityavyas/Desktop/Machine_Learning_and_Data_Science/Datasets/All_State_Purchase/test.csv')

In [15]:
train.head()

,customer_ID,shopping_pt,record_type,day,time,state,location,group_size,homeowner,car_age,...,C_previous,duration_previous,A,B,C,D,E,F,G,cost
0,10000000,1,0,0,08:35,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,2,633
1,10000000,2,0,0,08:38,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,630
2,10000000,3,0,0,08:38,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,630
3,10000000,4,0,0,08:39,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,630
4,10000000,5,0,0,11:55,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,630

In [16]:
train.shape, test.shape

((665249, 25), (198856, 25))

In [17]:
train.dtypes

customer_ID            int64
shopping_pt            int64
record_type            int64
day                    int64
time                  object
state                 object
location               int64
group_size             int64
homeowner              int64
car_age                int64
car_value             object
risk_factor          float64
age_oldest             int64
age_youngest           int64
married_couple         int64
C_previous           float64
duration_previous    float64
A                      int64
B                      int64
C                      int64
D                      int64
E                      int64
F                      int64
G                      int64
cost                   int64
dtype: object

In [8]:
test.head()

,customer_ID,shopping_pt,record_type,day,time,state,location,group_size,homeowner,car_age,...,C_previous,duration_previous,A,B,C,D,E,F,G,cost
0,10000001,1,0,1,12:35,OK,10002.0,1,0,9,...,3.0,9.0,0,0,1,1,0,0,4,543
1,10000001,2,0,1,12:36,OK,10002.0,1,0,9,...,3.0,9.0,2,1,1,3,1,3,2,611
2,10000002,1,0,4,12:19,PA,10003.0,1,1,7,...,2.0,15.0,2,0,2,3,1,2,2,691
3,10000002,2,0,4,12:21,PA,10003.0,1,1,7,...,2.0,15.0,2,0,2,3,1,2,2,695
4,10000003,1,0,3,17:12,AR,10004.0,1,0,4,...,3.0,1.0,1,0,1,1,0,2,2,628

In [18]:
len(train.columns)

25

In [19]:
len(test.columns)

25